.nav-title {
    display: flex;
    gap: 1rem;
}

button.none-style {
    background: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid #fff;
    opacity: 0.5;
    border-radius: 50px;
    padding: 0.5rem 1.5rem;
    margin-top: 2rem;
    transition: all 0.3s ease-in-out;
}

button.none-style.active {
    opacity: 1;
    background: #fff;
    color: #13151A;
}

.prestation-resume {
    margin-top: 30px;
    padding: 3rem 6rem;
    background: #fff;
    color: #13151A;
    border-radius: 15px;
    h4 {
        font-size: 2rem;
    }
    h5 {
        font-size: 1.6rem;
    }
    p {
        font-size: 1.2rem;
    }
    .sub-offer {
        display: flex;
        margin-top: 4rem;
        div:not(:last-child) {
            max-width: 50%;
            border-right: 1px solid #d1d1d1;
            margin-right: 3rem;
            padding-right: 3rem;
        }
    }
}